{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<!-- Секция заголовка с улучшенным стилем -->
<section class="hero-section">
    <div class="hero-container">
        <h1>Интерактивная карта города Алматы</h1>
        <p>Остановки общественного транспорта по данным OpenStreetMap</p>
    </div>
</section>

<!-- Карта города -->
<div id="map" style="height: 600px; width: 100%;"></div>

{{ bus_stops|json_script:"bus_stops_json" }}

<script>
    var map = L.map('map').setView([43.25, 76.95], 11);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let bus_stops = JSON.parse(document.getElementById('bus_stops_json').textContent)

    // для каждого объекта добавляем маркер на карту
    bus_stops.forEach(bus_stop => {
        L.marker([bus_stop.latitude, bus_stop.longitude]).addTo(map)
    })

</script>

{% endblock %}

{% block extra_styles %}
<style>
    /* Общее оформление страницы */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f9;
    }

    /* Секция hero с заголовком */
    .hero-section {
        background-color: #4CAF50;
        color: white;
        padding: 50px 0;
        text-align: center;
    }

    .hero-container h1 {
        font-size: 3rem;
        margin: 0;
    }

    .hero-container p {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    /* Стили для карты */
    #map {
        border: 2px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
    }
</style>
{% endblock %}